{% extends "../base.html" %}
{% load static %}
{% block body %}
    <!-- nav-bar  -->
    <section id="nav-bar" class="container">
      <header class="nav-bar">
        <div class="brand"><a href="/"><h1>Invalid SB</h1></a></div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./contact">Contact</a></li>
          </ul>
        </div>
      </header>
    </section>
    <!-- End nav-bar  -->
     <!-- Blog section start -->
<section class="blog">
    <div class="inner-blog">
        {% for blog in blogs %}

      <div class="perticular-blog">
          <h3>Category:- {{blog.category}}</h3>
        <div class="blog-Topbar"> <h2>{{blog.id}} </h2>{{blog.date_posted}}</h2></div>
        <h1>{{blog.title}}</h1>
        <p>{{blog.description}}</p>
        {% endfor %}
      </div>
    </div>
</section>



     <!-- Blog section end -->

    {% endblock body %}
