{% extends "../base.html" %}
{% load static %}
{% block body %}
    <!-- nav-bar  -->
    <section id="nav-bar" class="container">
      <header class="nav-bar">
        <div class="brand"><a href="/"><h1>Invalid SB</h1></a></div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./contact">Contact</a></li>
          </ul>
        </div>
      </header>
    </section>
    <!-- End nav-bar  -->
     <!-- Blog section start -->
<section class="blog">
    <div class="inner-blog">
        <h1>Blogs are Coming Soon .</h1>
    </div>
</section>


     <!-- Blog section end -->

    {% endblock body %}
