{% extends "../base.html" %}
{% load static %}
{% block body %}
    <!-- nav-bar  -->
    <section id="nav-bar" class="container">
      <header class="nav-bar">
        <div class="brand"><a href="./index"><h1>Invalid SB</h1></a></div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./blogs">BLog</a></li>
          </ul>
        </div>
      </header>
    </section>
    <!-- End nav-bar  -->
      <section class="content"> 
        <div class="contact-section-page">
          <div class="contact-inner-width">
            <h1>Get in touch with me</h1>
            <form method="POST">
              <input type="text" name="name" class="name" placeholder="Your Name" />
              <input type="email" name="email" class="email" placeholder="Your Email" />
              <textarea rows="1" placeholder="Message" name="message" class="message"></textarea>
              <button>Get in touch</button>
            </form>
          </div>
        </div>
    </section>

    {% endblock body %}
